<div id="content">
  <% if current_user %>
    <h3>Welcome: <%= current_user.email %></h3>
  <% else %>
    <div class="jumbotron jumbotron-fluid">
      <div class="container" id="jumbotron">
        <h1 class="display-4  ">Welcome to the Photo Management App!</h1>
        <p class="lead "> You'll love managing your Photos with our application. Sign up!</p>
        <hr class="my-4">
        <p class=" ">It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead ">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-4 ">
        <div class="card h-300">
          <div class="card-body">
            <h2 class="card-title">Premium Plan</h2>
            <div class="features">
              <h5 class="card-title">Price: $10</h5>
              <ul>
                <li>Unlimited Image Uploads</li>
                <li>Responsive design</li>
                <li>Access anywhere</li>
              </ul>
            </div>
            <p>
              <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="card h-300">
          <div class="card-body">
            <h2 class="card-title">Amaze Plan</h2>
            <div class="features">
              <h5 class="card-title">Price: $20</h5>
              <ul>
                <li>Unlimited Image Uploads</li>
                <li>Responsive design</li>
                <li>Access anywhere</li>
                <li class='extra'>Unlimited projects</li>
              </ul>
            </div>
            <p>
              <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
